#futureEvent {
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#futureEvent>div {
    padding: 10px;
    border-radius: 3px;
    background: #336699;
    display: inline-block;
}

#futureEvent div>span {
    padding: 15px;
    border-radius: 3px;
    background: #003366;
    display: inline-block;
}

#notFutureEvent {
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#notFutureEvent>div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#notFutureEvent div>span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

#noEvent {
  font-size: 20px;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

#noEvent a:link, #noEvent a:visited {
  color: blue;
  text-decoration: none;
}

#nowEvent, #cover, #timer, #nextEvent, #eventDate, #eventTitle, #noEvent {
    display: none;
}

#coverImage {
    width: 100%;
}

.eventTitleWrapper {
    margin: auto
}

/* Center eventitle, left time, right date */
.eventTitleContainer {
    display: flex;
    justify-content: space-between;
    width:100%;
    text-align:center;
}

.eventTitleLeft {
    float:left;
    width:20%;
    text-align:left;
    padding-left: 10px;
    font-size: 1em;
    font-weight: bold;
}

.eventTitleCenter {
    display: inline-block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.eventTitleRight {
    float:right;
    width:20%;
    text-align:right;
    padding-right: 10px;
    font-size: 1em;
    font-weight: bold;
}
#eventTitle {
    margin: 0px auto;
    text-align: center;
    /* display: inline-block; */
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#eventDate {
    margin: 0px auto;
    text-align: center;
    /* display: inline-block; */
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
