#mobile_header {
	position: relative;
	height: 15%;
	background-color: #ff8c00;
}

#mobile_bannerwrap {
	position: absolute;
	height: 75%;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

#mobile_navbut {
	position: absolute;
	left: 5%;
	height: 100%;
	width: auto;
	display: inline-block;
}

#mobile_navwrap {
	z-index: 10;
	position: relative;
	top: 100%;
	display: none;
}
#mobile_navbar {
	height: 100%;
	width: 40%;
	position: fixed;
	top: 15%;
	background: linear-gradient(#605858, #1E1C1C);
}

#mobile_logo {
	position: absolute;
	right: 5%;
	height: 100%;
	width: auto;
	display: inline-block;
}

#mobile_content {
	background-color: black;
	min-height: 75%;
	color: white;
	text-align: center;
}

#mobile_footer {
	height: 10%;
	width: 100%;
	background-color: black;
	position: relative;
	text-align: center;
}

#mobile_images {
	height: 60%;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
/*Navbar settings for mobile*/
#mobile_nav_links {
  text-align: center;
}
#mobile_nav_links li  {
  width: 100%;
  border-bottom: 2px solid orange;
}
#mobile_nav_links li a {
  width: 100%;
  display: inline-block;
	padding: 6.25% 0;
	color: orange;
	text-decoration: none;
}
#mobile_nav_links li a:hover:not(.active) {
	background: linear-gradient(#D8D2D2, #605858);
}
#mobile_nav_links li:last-child {
	border: none;
}
