*{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

html {
	width: 100%;
	/* background-color: orange; */
	background-color: #ff8c00;
  overflow-y: scroll;
}

body {
	margin: auto;
	width: 50%;
}

p {
    text-align: left;
}

/* Header START */
#header {
	position: relative;
	height: 25%;
	background-color: black;
}
#bannerwrap {
	/*height should be 15% of total, so 60% of 25%*/
	height: 60%;
	position: relative;
}
#banner {
	position: absolute;
	height: 75%;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
#navbut {
	/*hidden in desktop mode*/
	display: none;
}
#logo {
	height: 100%;
	width: auto;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
}
#navwrap {
	/*height should be 10% of total, so 40% of 25%*/
	height: 40%;
}
/* Header END */

/* Content START */
#content {
	width: 100%;
	position: relative;
	text-align: center;
	color: white;
	background-color: black;
	min-height: 65%;
}

/* Denne og neste brukes til å få kartet til å se bra ut: */
#google_maps {
	margin: auto;
	width: 60%;
	height: 100%;
	position: relative;
	padding-top: 40%;
	padding-bottom: 10%;
}

#google_maps iframe {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Code to make the event images fit content */
#futureEventsList img, #pastEventsList img, #nextEventImageAndTitle img  {
    /*css code*/
    width: 100%;
}

#pastEventsList img {
    /*css code*/
    width: 100%;
}

/* Center images left and right on the about us page */
#container{
  width: 100%;
	height: 100%;
}

.right {
	margin-left: 1%;
	vertical-align: top;
	display: inline-block;
	width: 47%;
}
.left {
	margin-right: 1%;
	vertical-align: top;
	display: inline-block;
	width: 47%;
}
/* Content END */

/* Footer START */
#footer {
	height: 10%;
	width: 100%;
	background-color: black;
	position: relative;
	text-align: center;
}
#images {
	height: 60%;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.footerlogo {
	height: 100%;
	width: auto;
	display: inline-block;
	padding: 0 3%;
}
hr {
	  color: #ff8c00;
	  background-color: #ff8c00;
	  border-color: #ff8c00;
}
