*{
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
html {
	width: 100%;
	background-color: orange;
}

body {
	margin: auto;
	width: 50%;
}
/* Contained by Header tag START */
#header {
	position: relative;
	height: 25%;
	background-color: black;
}
#banner {
	height: 60%;
	position: relative;
}
#navbut {
	display: none;
}

#logo {
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	height: 100%;
	width: auto;
	top: 50%;
	transform: translateY(-50%);
}
#mobile_logo {
	height: 100%;
	width: auto;
	display: inline-block;
	float: right;
}
#mobile_navbut {
	height: 100%;
	float: left;
	display: inline-block;
}
#mobile_header {
	position: relative;
	height: 25%;
	background-color: orange;
}
#mobile_banner {
	height: 100%;
	position: relative;
}
/* Contained by Header tag END */



#content {
	background-color: black;
	min-height: 65%;
}

#footer {
	background-color: black;
	height: 10%;
  width: 100%;
}

#images {
	height: 90%;
	width: 60%;
}

hr {
	color: orange;
	background-color: orange;
	border-color: orange;
}

#wrapper {
	min-height: 100%;
	margin: auto;
  position: relative;
	background-color: black;
}



#content {
	position: relative;
	text-align: center;
	color: white;
}
#footer {
	overflow: hidden;
	background-color: black;
}

#images{
	margin: auto;
  text-align: center;
	vertical-align: middle;
}

.fblogo {
	max-width: 10%;
	padding: 3% 2%;
}

/* Denne og neste brukes til å få kartet til å se bra ut: */
#google_maps {
	margin: auto;
	width: 60%;
	height: 100%;
	position: relative;
	padding-top: 40%;
	padding-bottom: 10%;

	/*padding-top: 50%;*/
	/*margin-top: 10%;
	margin-left: -20%;
	margin-right: -20%;
	margin-bottom: 10%;*/
}

#google_maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
