*{
	margin: 0;
	padding: 0;
}

html, #wrapper, #content{
	width: 100%;
}
body {
	margin: auto;
	width: 50%;
}

html, body, #wrapper {
	height: 100%;
}
#wrapper {
	min-height: 100%;
}
#footer {
	height: 10%;
  width: 100%;
}
#images {
	height: 90%;
	width: 60%;
}
#banner {
	height: 15%;
}
html, body {
	background-color: orange;
}

hr {
	color: orange;
	background-color: orange;
	border-color: orange;
}

#wrapper {
	min-height: 100%;
	margin: auto;
  position: relative;
	background-color: black;
}

#banner {
	position: relative;
}

#nav_button {
	display: none;
}

#banner img {
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	height: 100%;
	width: auto;
	top: 50%;
	transform: translateY(-50%);
}
#content {
	border: 1px solid red;
	background-color: black;
	position: relative;
	padding-bottom: 80px;
	color: white;
}
#footer {
	overflow: hidden;
  position: absolute;
  bottom: 0;
}

#images{
	margin: auto;
  text-align: center;
	vertical-align: middle;
}

.fblogo {
	max-width: 10%;
	padding: 3% 2%;
}



/* Denne og neste brukes til å få kartet til å se bra ut: */
#google_maps {
	position: relative;
	padding-top: 110%;
	margin-top: 10%;
	margin-left: -20%;
	margin-right: -20%;
	margin-bottom: 10%;
}

#google_maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
