*{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

html {
	width: 100%;
	background-color: orange;
  overflow-y: scroll;
}


body {
	margin: auto;
	width: 50%;
}

/* Contained by Header tag START */
#header {
	position: relative;
	height: 25%;
	background-color: black;
}

#banner {
	height: 60%;
	position: relative;
}

#navbut {
	display: none;
}

#logo {
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	height: 100%;
	width: auto;
	top: 50%;
	transform: translateY(-50%);
}

#mobile_logo {
	position: absolute;
	right: 5%;
	height: 100%;
	width: auto;
	display: inline-block;
}
#mobile_navbut {
	position: absolute;
	left: 5%;
	height: 100%;
	width: auto;
	display: inline-block;
}
#mobile_header {
	position: relative;
	height: 15%;
	background-color: orange;
}
#mobile_banner {
	position: absolute;
	top: 50%;
	height: 75%;
	width: 100%;
	transform: translateY(-50%);
}
/* Contained by Header tag END */

#content {
	background-color: black;
	min-height: 65%;
}

#mobile_content {
	background-color: black;
	min-height: 75%;
}

#footer {
	background-color: black;
	height: 10%;
  width: 100%;
}

#mobile_footer {
	height: 10%;
	position: relative;
}

#images {
	height: 90%;
	width: 60%;
}
#mobile_images {
	height: 60%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

hr {
	color: orange;
	background-color: orange;
	border-color: orange;
}

#content {
	position: relative;
	text-align: center;
	color: white;
}
#mobile_content {
	color: white;
	text-align: center;
}
/* Contained in Footer tags */
#footer {
	overflow: hidden;
	background-color: black;
}

#images{
	margin: auto;
  text-align: center;
	vertical-align: middle;
}

#mobile_footer {
	position: relative;
	background-color: black;
	text-align: center;
}
#mobile_images {
	position: absolute;
	height: 70%;
	width: 100%;
	text-align: center;
}
/*Mobile fblogo*/
.fblogo {
	display: inline-block;
	height: 100%;
	padding: 0 5%;
	width: auto;
}
/*.fblogo {
	max-width: 10%;
	padding: 3% 2%;
}*/


/* Denne og neste brukes til å få kartet til å se bra ut: */
#google_maps {
	margin: auto;
	width: 60%;
	height: 100%;
	position: relative;
	padding-top: 40%;
	padding-bottom: 10%;

	/*padding-top: 50%;*/
	/*margin-top: 10%;
	margin-left: -20%;
	margin-right: -20%;
	margin-bottom: 10%;*/
}

#google_maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
