.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
	width: 50%;
}
#navbar {
	background: linear-gradient(#605858, #1E1C1C);
}

.nav_links {
		text-align: center;
}

.nav_links li {
  display: inline-block;
	border-right: 1px solid orange;
}

.nav_links li:last-child {
	border: none;
}
.nav_links li a {
  display: inline-block;
	padding: 15px 15px;
	color: orange;
	text-decoration: none;
}
.nav_links li a:hover:not(.active) {
	background: linear-gradient(#D8D2D2, #605858);
}

.active {
  background: linear-gradient(#408C4D, #01380B);
}

.navbar-mobile {
  display: none;
}

.navbar-mobile li{
  display: block;
}

.navbar-mobile li a{
  display: block;
}
