*{
	font-family: Georgia, Palantino, serif;
	padding: 0;
	margin: 0;
}
body {
    width: 50%;
    margin: auto; 
    background-color: black;
}

figure {
    text-align: center;
    margin: auto; 
    margin-top: 30px;
    margin-bottom:20px;
}

section {
    border: 1px dashed;
	border-radius: 10px;
    color:orange;
    padding: 30px 30px;
    margin-top: 25px;
	margin-bottom: 50px;
}

header {
    margin-top: 40px;
}

header h2, p, ul, li {
	color: white;
}

h1, h2, h3 {
    font-family: 'Flamenco', cursive;
    color: orange;
	padding-bottom: 15px;
}

h2 span {
    font-size: small;
}

/*Adds a counter to h3 elements inside sections*/
section > h3:before {
    content: counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}