* {
    font-family: Georgia, Palantino, serif;
    padding: 0;
    margin: 0;
    color: orange;
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
}

p {
    font-family: "Computer Modern";
    font-size: 20px;
    padding-bottom: 20px;
}

#poly {
    display: none;
}

body {
    width: 50%;
    margin: auto;
    background-color: black;
}

content {
    line-height: 1.5;
}

figure {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

canvas {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: : 8px;
    max-width: 85%;
}

section {
    border: 1px dashed;
    border-radius: 10px;
    padding: 30px 30px;
    margin-top: 25px;
    margin-bottom: 50px;
}

ul li,
ol li {
    list-style-position: inside;
}

header {
    margin-top: 40px;
}

header h2,
p,
ul,
h2 span {
    color: white;
}

header h2,
header h2 span {
    line-height: normal;
}

h1,
h2 {
    font-family: Flamenco, cursive;
    color: orange;
    padding-bottom: 15px;
}

h3 {
    padding-bottom: 15px;
    padding-top: 15px;
}

h2 span {
    font-size: small;
}

section:first-child li,
section:first-child i {
    color: white;
    list-style: none;
}

section:first-child li::before {
    content: "• ";
    color: orange;
}

table,
th,
td {
    border: 1px solid orange;
}

th {
    font-size: 24px;
}

table {
    width: 100%;
}

.organize li {
    margin-left: 20px;

}
#workload {
  width: 60%;
}

.workload {
  list-style: none;
  padding-left: 40px;
}

.names {
  float: right;
}
