header {
  background-color: darkorange;
  padding-left: 15%;
  padding-right: 15%;
}
section {
  background-color: darkorange;
  width: 100%;
  height:600px;
}

section>section {
  background-color: white;
  width: 70%;
  height: 600px;
  position: relative;
  left: 15%;

}
#logo {
  height: 100px;
  width: 100px;
  padding-left: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}
#spillkort {
  margin-top: 50px;
  margin-left: 35%;
  height: 300px;
  width: 200px;
}

p {
  background-color: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: orange;
}

.active {
  background-color: orange;
}
